<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'travels:index' %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Home">
    </form>
    <form action="{% url 'login:index' %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Logout">
    </form>
</body>
</html>
