<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <title>Document</title>
</head>
<body>
    <h3>Hello {{request.session.user.first_name}}!</h3>
    <form action="{% url 'login:index' %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Logout">
    </form>
    <table>
        <thead>
            <tr>
                <th>Destination</th>
                <th>Travel Start Date</th>
                <th>Travel End Date</th>
                <th>Plans</th>
            </tr>
        </thead>
        <tbody>
            <!-- {% for travels in travel %} -->
            <tr>
                <td>{{travel.destination}}</td>
                <td>{{travel.start_date}}</td>
                <td>{{travel.end_date}}</td>
                <td>{{travel.description}}</td>
            </tr>
            <!-- {% endfor %} -->
        </tbody>
    </table>
    <br>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Destination</th>
                <th>Travel Start Date</th>
                <th>Travel End Date</th>
                <th>Do you Want to Join?</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>(Name)</td>
                <td>(Destination)</td>
                <td>(Start Date)</td>
                <td>(End Date)</td>
                <td><a href="#">Join</a></td>
            </tr>
        </tbody>
    </table>
    <form action="add" method="post">
        {% csrf_token %}
        <input type="submit" value="Add Travel Plan">
    </form>
</body>
</html>
